<form [formGroup]="formGroup" class="form-inline custom-height">
    <div class="form-group w-100 justify-content-between row">
        <label for="date" class="col-6">Fecha</label>
        <input type="date" 
               id="date"
               class="form-control col-6"
               formControlName="date">
    </div>

    <div class="form-group w-100 justify-content-between row">
        <label for="concept" class="col-6">Concepto *</label>
        <input type="text"
               id="concept"
               class="form-control col-6"
               formControlName="concept"
               [ngClass]="{'is-invalid': formGroup.get('concept').invalid && formGroup.get('concept')?.touched,
                           'is-valid': formGroup.get('concept').valid && formGroup.get('concept')?.touched}">
    </div>

    <div class="form-group w-100 justify-content-between row">
        <label for="amount" class="col-6">Importe *</label>
        <input type="text"
               id="amount"
               class="form-control col-6"
               formControlName="amount"
               [ngClass]="{'is-invalid': formGroup.get('amount').invalid && formGroup.get('amount')?.touched,
                           'is-valid': formGroup.get('amount').valid && formGroup.get('amount')?.touched}">
    </div>

    <div class="orm-group w-100 justify-content-between row">
        <div class="offset-6 col-6 d-flex p-0">
                <button type="button" class="btn btn-success" (click)="onSaveExpense()">Guardar</button>
                <button type="button" class="btn btn-link" (click)="onCancelExpense()">Cancelar</button>
        </div>
    </div>
</form>